<div class="container">
  <div class="row">
      <button class="btn btn-primary" (click)="OnStartTimerCalled()">Start Game</button>
      <button class="btn btn-danger ml-2" (click)="OnStopTimerCalled()">Stop Game</button>
      <ng-content></ng-content>
      </div>
      <div class="row">
        <div class="col">
          <app-odd *ngFor="let a of oddArr" ><p class="combg">Odd no is {{a}}</p></app-odd>
        </div>
        <div class="col">
          <app-even *ngFor="let a of evenArr" ><p class="combg2">Event no is {{a}}</p></app-even>
        </div>
      </div>
</div>
